@model IEnumerable<ParsWeb.Models.ParserModel>
@{
    ViewBag.Title = "Все пользователи";
}
<form asp-action="create" asp-controller="home">
    <div class="form-group">
        <input type="submit" value="Отправить" class="btn btn-default" />
    </div>
</form>
